
.site-footer {
    border:  0 solid #CCC;
    padding: 1em 1.5em;
}

/*.site-header {
    border-bottom-width: 1px; 
    padding-top: 2em;
}*/
img {
    margin-top: 5.8em;
    width: 58em;
    height: 15em;
    margin-bottom: 3em;
    margin-left: 1em;
   
}

.site-branding h1 {
    padding-top: 0;
    line-height: 1;
    padding-top: 0.32em;
    line-height: 0.4em;
}

.site-footer {
    border-top-width: 1px;
}

.entry-header h2 {
  text-transform: capitalize;
  color: red;
  
  margin-top: 1em;
  border-bottom: 1px solid #CCC;
}

.services h3  {
    margin-left: 0em;
    background: white;
    padding-top: 2em;
    padding-left: 7em;

}
