body {

}/*МОЖЕ ДА РАСТЕШ КОЛКОТО ИСКАШ НО*/

/*КОГАТА СТАНЕШ 60em СПРИ ДА РАСТЕШ И СЕ ЦЕНТРИРАЙ*/

/*234 - ПИКСЕЛИТЕ КОЙТО ИСКАМЕ ДА ПОСТИГНЕМ*/

/*FONT-SIZE СМЕ ГО ЗАДАЛИ 16px РАЗДЕЛЯМЕ 234/16 И НАМИРАМЕ КОЛКО (em) СА НИ НУЖНИ СПРЯМО ИСКАНИТЕ ПИКСЕЛИ*/
.site {
    max-width: 60em;
    margin: 0 auto;
}
.site-branding
{
    display: inline-block;
    width: 63%;
    position: fixed;
    /* float: left; */
    margin: 0 1px;
    color: #000;
    font-weight: bold;
    font-size: 13px;
    background: #ecf0f1;
    padding-left: 10em;
    z-index: 1;
    left: 0em;
}
    
    
    



 .site-branding .call  {
    color:red; 
}

.site-header nav {
    display: inline-block;
    width: 33.8%;
    vertical-align: top;
    margin-left: 42em;
    background: #ecf0f1;
    padding-right: 3em;
    font-size: 16px;
    padding-bottom: 1.8em;
    

    
}

.site-main {
display: inline-block;
width: 69%;
}

.site-sidebar{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    background: antiquewhite;
    margin-top: 27.1em;
    position: relative;
    top: 15em;
}

.entry {
    padding: 0 1.5em;
}

.panel {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.entry h6 {
    padding-top: 1em;
    text-transform: capitalize;
    margin-left: 0;
    font-size: 25px;

}
.site-branding p {
    color: #2980b9;
 
    margin-left: 4em;
    font-size: 16px;
}

.entry-content p {

margin-bottom: 1em;;

}

.entry-footer {
    display: block;
    width: 43em;
    /* height: 37em; */
    /* padding-left: 0em; */
    margin-left: 0em;
    position: relative;
    padding-bottom: 2em;
    box-shadow: 0 0 0.4em rgba(1 1 1 );
    margin-bottom: 3em;
}


.entry-footer section {
    position: relative;
    left: 2em;
}


.line {
    color: black;
    left: -5em;
    border: 1px solid;
    width: 60em;
    
}
