.nav {
    text-align: right;
    padding-top: 1em;
    position: fixed;
}


.nav ul li{
    display: inline-block;
    list-style: none;
    background: rgb(0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
    
}

.nav a {
    display: block;
    padding: .5em 1em;
    background: #EEE;
    color: #333;
    text-decoration: none;
}

.nav a:hover {
    background: #090;
    color: #FFF;
}
