.nav {
    text-align: right;
    padding-top: 1em;
    position: fixed;
    z-index: 1;
}


.nav ul li{
    display: inline-block;
    list-style: none;
    background: rgb(0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
    border-radius: 0.6em;
}

.nav a {
    display: block;
    padding: .5em 1em;
    background: #3498db;
    color: #c23616;
    text-decoration: none;
    border-radius: 0.5em;
}

.nav a:hover {
    background: #090;
    color: #FFF;
    border-radius: 0.5em;
}
